<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Recipe</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
        }
    </style>
</head>
<body>
<!--/*@thymesVar id="purchaseOrdering" type="ecommerce.command.PurchaseOrderCommand"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover ">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>Order ID</th>
                                    <th>Total Cost</th>
                                    <th>Line Item ID</th>
                                </tr>
                                </thead>
                                <tr th:remove="all">
                                    <td>12333</td>
                                    <td>Tasty Goodnees 2</td>
                                    <td>Tasty Goodnees 2</td>
                                    <td><a href="#">View</a></td>
                                    <td><a href="#">Update</a></td>
                                    <td><a href="#">Delete</a></td>
                                </tr>
                                <tr>
                                    <td th:text="${purchaseOrdering.id}">1</td>
                                    <td th:text="${purchaseOrdering.lineItemId}">2</td>
                                    <td th:text="${purchaseOrdering.totalCost}">11.11</td>
                                </tr>
                                <tr>
                                    <td> <a class="btn btn-default" href="#" th:href="@{'/customer/new'}" role="button">Create Customer</a></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>