<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="customer" type="ecommerce.domain.Customer"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form  th:object="${customer}" th:action="@{/customer/}"  method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Customer</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>First Name:</label>
                                    <input type="text" class="form-control"  th:field="*{firstName}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Last Name     :</label>
                                    <input type="text" class="form-control"  th:field="*{lastName}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Address Line 1:</label>
                                    <input type="text" class="form-control" th:field="*{addressLine1}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Address Line 2:</label>
                                    <input type="text" class="form-control" th:field="*{addressLine2}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>City          :</label>
                                    <input type="text" class="form-control" th:field="*{city}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Post Code     :</label>
                                    <input type="text" class="form-control" th:field="*{postCode}"   name="*postCode"   value="" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>E-mail Address:</label>
                                    <input type="text" class="form-control" th:field="*{email}"    named="*email"   value=""/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>E-mail Address:</label>
                                    <input type="hidden" th:field="${productId}"    th:value="${productId} "/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>