<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
        }
    </style>
</head>
<!--/*@thymesVar id="customer" type="ecommerce.domain.Customer*/-->
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title">Customers</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(customers)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Customer ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Address Line1</th>
                                <th>Address Line2</th>
                                <th>City</th>
                                <th>Post Code</th>
                                <th>Address Line1</th>
                                <th>Email</th>
                                <th>Views</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>BB</td>
                                <td>JAYS</td>
                                <td>12.30</td>
                                <td>123</td>
                                <td>BB</td>
                                <td>JAYS</td>
                                <td>12.30</td>
                                <td>ghff@yahoo.com</td>

                                <td><a href="#">View</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>BB</td>
                                <td>JAYS</td>
                                <td>12.30</td>
                                <td>123</td>
                                <td>BB</td>
                                <td>JAYS</td>
                                <td>12.30</td>
                                <td>ghff@yahoo.com</td>

                                <td><a href="#">View</a></td>
                            </tr>
                            <tr th:each="customer : ${customers}">
                                <!--/*@thymesVar id="customer" type="ecommerce.domain.Customer*/-->
                                <td th:text="${customer.id}">334</td>
                                <td th:text="${customer.firstName}">334</td>
                                <td th:text="${customer.lastName}">334</td>
                                <td th:text="${customer.addressLine1}">334</td>
                                <td th:text="${customer.addressLine2}">334</td>
                                <td th:text="${customer.city}">334</td>
                                <td th:text="${customer.postCode}">334</td>
                                <td th:text="${customer.email}">334</td>
                                <td>
                                    <a href="#" th:href="@{'/customer/show/' + ${customer.id}}">View Customer
                                    </a>
                                </td>
                                <td>
                                    <a href="#" th:href="@{'/customer/new '}">Create Customer
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>